body {
    background-color: gray;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    overflow: hidden;
}

.explorer {
    height: calc(100% - 50px);
    color: white;
    background-color: #222222;
    overflow-y: auto;
}

.log {
    height: 100%;
    color: white;
    background-color: black;
    overflow: auto;
}

.editor {
    height: 100%;
    width: 100%;
    padding: 0px;
}
.Pane.horizontal.Pane2{
    overflow-y: auto;
}