/*.tree {
  position: fixed;
  top:0;
  left:0;
  bottom:0;
  width:300px;
  overflow-x:hidden;
  overflow-y:auto;
  background-color:#21252b
}*/

.f-no-select {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.m-tree {
  position: relative;
  overflow: hidden;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.m-draggable {
  position: absolute;
  opacity: 0.8;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.m-node.placeholder > * {
  visibility: hidden;
}

.m-node.placeholder {
  border: 1px dashed #1385e5
}

.m-node .inner {
  position: relative;
  cursor: pointer;
  padding-left: 10px;
  color: #9da5b4;
  font-size: 12px;
  font-family: Menlo
}

.m-node .collapse {
  position: absolute;
  left: 0;
  cursor: pointer;
  /* fix, because bootstrap defines display: none for .collapse */
  display: block;
}

.m-node .caret-right:before {
  content: '\25B8';
}

.m-node .caret-down:before {
  content: '\25BE';
}

.m-node .node{
  display:inline-block;
  width:100%;
  padding:4px 5px
}

.m-node .node.is-active{
  background-color:#31363f
}
